
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
.nav-item .nav-link{
    margin: 0 10px;
}

#home{
    background: #0d6efd;
    background-size: cover;
    min-height: 545px;
    padding-top: 30px;
}

.hero-text{
    position: relative;
    font-size: 60px;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.text{
    display: inline-block;
    font-size: 1em;
    margin: 0;
    line-height: 1;
}
@media (max-width: 992px){
    .hero-text{
        font-size: 40px;
    }
    .btn-group{
        flex-direction: column;
    }
    .btn-contact{
        margin-right: 0px !important;
    }
    
}
/* for too loo display */
@media (max-width: 400px){
    .hero-text{
        font-size: 20px;
    }
    .btn-contact, .btn-cv{
        padding: 5px 10px !important;
    }
}

.typed-cursor {
    font-weight: bold; /* Adjust the font weight to make the cursor bold */
    font-size: 1em; /* Adjust the initial font size of the cursor */
    animation: blink-caret 2s step-start infinite; /* Make the animation infinite for continuous blinking */
}

@keyframes blink-caret {
    0% {
        opacity: 0; /* Cursor is not visible at the start of the animation */
    }
    25% {
        opacity: 1; /* Cursor is fully visible */
        transform: scale(0.5); /* Smaller size at the midpoint of the animation */
    }
    50% {
        opacity: 0; /* Cursor is not visible */
    }
    75% {
        opacity: 1; /* Cursor is fully visible again */
        transform: scale(0.5); /* Smaller size at the midpoint of the animation */
    }
    100% {
        opacity: 0; /* Cursor is not visible at the end of the animation */
    }
}
.btn-contact{
    background-color: #089208;
    padding: 15px 40px;
    border: none;
    margin-right: 10px;
    color: #fff;
    
}
.btn-cv{
    background-color: #bd0000;
    padding: 15px 40px;
    border: none;
    color: #fff;
}
#about{
    padding-top: 100px;
    
}
#packages, #projects, #contact, tr{
    padding: 100px 0;
}
#faq, #resume{
    padding: 100px 0;
}
.w-item{
    font-size: 60px;
    color: #0d6efd;
}
.bold{
    font-weight: bold;
}

.project-image {
    position: relative;
    overflow: hidden;
  }
  .project-image img {
    width: 100%;
    height: auto;
  }
  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    background: rgba(0, 0, 0, 0.7);
  }
  .project-image:hover .project-overlay {
    opacity: 1;
  }
  .project-text {
    color: #fff;
    text-align: center;
  }
  .btn-group .btn.active {
    background-color: #007BFF;
    color: #fff;
  }
  

.custom-socials-meida {
    font-size: 25px;
    line-height: 34px;
    padding: 15px 5px;
    cursor: pointer;
}
.custom-socials-meida:hover {
    color: #4eb1f3;
}
.contact-form{
    display: block;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    width: 100%;
}

.section-name{
    width: fit-content !important;
}


/* ----------------------------------------------------------------- */
/* -----------------------Resume------------------------------------ */
/* ------------------------------------------------------------------ */
.resume-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.resume-header-text{
    font-size: 24px;
    color: #17196a;
    font-weight: bold;
    border-bottom: 4px solid #000;
    width: 100%;
}
.tags-group{
    width: 100%;
    padding: 10px;
}
.tags{
    border: 1px solid silver;
    width: fit-content;
    padding: 3px;
    border-radius: 4px;
    display: inline-block;
    margin: 3px 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.project-details{
    margin-top: 5px;
}
.sub-header{
    font-size: 18px;
    width: 60%;
    margin-top: 15px;
}
.resume-date{
    opacity: .6;
}
ul{
    margin-top: 7px;
}
ul li{
    margin-left: 15px;
    font-size: 18px;
}
.mini-gap{
    height: 15px;
}
.blue-text{
    color: #17196a;
    font-weight: bold;
    padding: 2px;
}
.pink-text{
    color: #ca75ab;
    display: inline-block;
    font-weight: bold;
}